
@{
    ViewBag.Title = "LogIn";
}

<!DOCTYPE html>

<html>
<head>
    @using System;
    <meta name="viewport" content="width=device-width" />
    <title>LogIn</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div> 
       <div class="col-lg-3"></div>
        <div class="col-lg-4">
            <div style="text-align:center">
                <h1 style="color:#dc491a">Log In</h1>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">#&6453</span>
                    <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</body>
</html>
