
@{
    ViewBag.Title = "Order";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order</title>
</head>
<body>
    <div> 
        <div class="row">
            <div class="col-sm-2 col-md-4 col-lg-4">

            </div>
        </div>
    </div>
</body>
</html>
